<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="ASP.NET Core CI Release" 
         value="https://dotnet.myget.org/F/aspnetcore-ci-release/api/v3/index." />-->
    <add key="ASP.NET Core CI Release" 
         value="https://nuget.emzi0767.com/api/v3/index.json" />
  </packageSources>
</configuration>